@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple todo app made with the <a href="https://dotnet.microsoft.com/apps/aspnet/mvc">ASP.NET MVC Pattern</a>.</p>
</div>
